{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<h1>My Post</h1>
    <section class="post">
        <article>
            <div class="metadata">
                2022/6/19 at 16:00  by nguyen
                <span class="badge bg-success">Sports</span>
                5 comments
            </div>
            <div class="content">
                <img src="https://picsum.photos/200/300" alt="">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur consequuntur culpa cum, dignissimos doloribus, esse facilis hic ipsa magni molestiae necessitatibus provident, quam. Ad earum harum iure molestiae provident.</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </section>
{% endblock %}
