{% extends 'base.html.twig' %}
{% block title %}Post Show{% endblock %}

{% block body %}
    <style>
        .post{
            border-radius: 10px;
            box-shadow: 0 10px 16px rgba(0, 0, 0, .25);
            margin-bottom: 40px;
            margin-top: 40px;
            padding: 40px;
        }
        img{
            border-radius: 10px;
        }
    </style>
    <section class="post">
        <article>
            <h2>Title</h2>
            <div class="metadata">
                2022/6/19 at 16:00  by nguyen
                <span class="badge bg-success">Sports</span>
                5 comments
            </div>
            <div class="content">
                <img src="https://picsum.photos/300/200" alt="" class="mt-3 mb-3">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur consequuntur culpa cum, dignissimos doloribus, esse facilis hic ipsa magni molestiae necessitatibus provident, quam. Ad earum harum iure molestiae provident.</p>
                <a href="#">Read More</a>
            </div>
        </article>
    </section>

    <h2 class="mt-5">5 Comments</h2>
    <section class="mt-5">
        <div class="card-header">
            David <small>2022-10-12 at 11;40</small>
        </div>
        <div class="card-body">
            <p>yeu anh di anh khong doi qua</p>
        </div>
    </section>
{% endblock %}
